* {
	box-sizing: border-box;
}

body {
	font-family: 'Ubuntu', sans-serif;
	font-family: 'Bree Serif', serif;
	font-weight: 300;
	font-size: 12px;
	color: #606060;
	background-color: #FFF;
	line-height: 12px;
}

a {
	display: inline-block;
	color: #000;
	text-decoration: none;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	margin: 0;
	padding: 0;
}

.container {
	max-width: 1170px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

.header:after{
	content: "";
	display: block;
	clear: both;		
}

.container-header{
	max-width: 1560px;
	padding: 60px 15px;
	margin: 0 auto;
	/* padding-top: 30px;	 */
}

.header-logo {
	padding-left: 180px;
	font-size: 20px;
	color: #606060;
	float: left;
}

.header-menu {
	float: right;
	font-size: 14px;
	padding-right: 162px;
}

.header-menu li {
	display: inline-block;
}

.header-menu li+li{
	padding-left: 30px;
}

.header-menu li:nth-child(5){
	color: #FFF;
	padding: 5px 20px;
	background-color: #F98561;
	border-radius: 5px; 
}

.header-menu li:last-child {
	padding-left: 90px;
}

.header-menu li:last-child img{
	width: 15px;
	height: 15px;
}

.main-screen{
	background-image: url(../psd/bg.png);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	height: 100vh;	
	position: relative;
	
}

.main-section {
	position: absolute;
	max-width: 630px;
	text-align: center;
	color: #CCCECE;
	left: 50%;
	top: 40%;
	transform: translate(-50%, -50%);
	
}

.main-section-title {
	font-family: 'Oswald', sans-serif;
	font-size: 40px;
	font-weight: 400;
	padding-bottom: 25px;
	text-transform: uppercase;
	
}

.main-section-description {
	font-size: 14px;
	font-weight: 300;
	font-family: 'Ubuntu', sans-serif;
	line-height: 20px;
	padding-bottom: 45px;
	
}

.main-section-learn {
	text-transform: uppercase;
	color: #FFF;
	background-color: #F98561;
	padding: 18px 55px;
	text-align: center;
	font-size: 25px;
	max-width: 245px;
	font-family: 'Oswald', sans-serif;
	font-weight: 500;
	margin: 0 auto;
	border-radius: 10px; 
}













